<!DOCTYPE html>
<html>

<head>
    <title>Chatbot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        BOT9_DATA = {
            bot9Id: "dec608f1-7e6d-41d9-86dc-579a83d79b52",
            onLoad: function (widget) {
                setTimeout(() => {
                    widget.open();
                }, 1000); // open after 1 second
            }
        };
        document.head.appendChild(document.createElement('script')).src = 'https://sdk.chatwidget.in/bot.js';
    </script>
    <!-- <script>
        BOT9_DATA = {
            bot9Id: "dec608f1-7e6d-41d9-86dc-579a83d79b52",
            // Optional user object
            // user: {
            //   userId: "123",
            //   emailId: "user@example.com",
            //   name: "John Doe",
            //   customAttributes: {
            //     Field1: "value",
            //     Field2: "value",
            //     Field3: "value"
            //   }
            // }
        };
        document.head.appendChild(document.createElement('script')).src = 'https://sdk.chatwidget.in/bot.js';
    </script> -->
</head>

<body></body>

</html>